
# Dependencies
/__pycache__
/venv
/.venv

# Build files
/build
/public
/site

# Distribution files
/dist
/mkdocs_material.egg-info

# Caches and logs
*.cpuprofile
*.log
*.tsbuildinfo
.cache
.eslintcache
__pycache__

# OS internals
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Temporary files
TODO
tmp

# IDEs
.vscode
